/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

$color: #f4c700;
$headers: #8e8e8e;
$robot: 'Roboto Condensed', Helvetica, sans-serif;

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
    background: url('img/brick.png') repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
/*	background: url('img/lightnin.jpg');
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 100%;
	background: url('img/brick.png');
	font-family: 'Roboto Condensed', sans-serif;
	/*font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;*/


/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:2;
    text-align: center;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	font-family: $robot;
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	width:80%;
	margin:0 auto;
	position:relative;
	
}
/* header */
.header {
	width: 80%;
	margin: 0 auto;
	img {
	   display: inline-block;
	   margin: 0 auto;
	   width: 100%;
	}	   
}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {
	font-family: $robot;
	font-size: 2.8rem;
	margin: 0 auto;
	background-color: black;
	color: #f4c700;
	width: 80%;
}
.nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
.nav ul li {
	padding: 1% 0;
	list-style-type: none;
	display: inline-block;
	font-size: 2.8rem;
	display: inline-block;
	text-transform: uppercase;
	width: 16%;
}
h1 {
	color: $headers;
	font-size: 2.4rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}
h3 {
	color: $headers;
	font-size: 1.6rem;
	text-align: center;
	padding: 2% 3%;
}
a {
	font-size: 1.6rem;
	color: #f4c700;
	opacity: 0.8;
}
p {
	color: white;
	font-size: 1.6rem;
}
main {
	font-family: $robot;
	font-size: 1.8rem;
	width: 60%;
	float: left;
	padding: 1% 2% 6% 0%;
	background-color: rgba(192,192,192, 0.6)
}
h1 {
	color: $color;
	font-size: 2.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*.article {
	color: #fff;
	width: 70%;
	background-color: green;
}*/
/* sidebar */
.sidebar {
	width: 40%;
	float: left;
}
.instagram-pics li {
	padding: 0;
	width: 50%;
	float: left;
}
object {
	display: none;
}
/* footer */
.footer {
	clear: both;
	text-align: center;
}
.copyright {
	padding-top: 3%;
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:320px) {
	a {
	color: orange;
	}
}
@media only screen and (max-width:480px) {
	a {
	color: pink;
	}
}
@media only screen and (max-width:768px) {
	a {
	color: orange;
	}
}
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:1140px) {

}
@media only screen and (max-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
